header {
  background-color: #ffffff;
  border: solid 1px black;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 100px;
  height: auto;
  display: inline-block;
}

nav {
  display: inline-block;
}

.navigation {
  list-style-type: none;
}

.navigation li {
  display: inline-block;
  margin-right: 20px;
}

.navigation li a {
  color: #000000;
  text-decoration: none;
  padding: 30px;
  transition: color 0.3s;
}

.navigation li a:hover {
  color: #000000;
}

.sous-navigation {
  display: none;
  position: absolute;
  background-color: #ffffff;
  padding: 10px;
}

.navigation li:hover .sous-navigation {
  display: block;
}

.sous-navigation li {
  display: block;
}

.sous-navigation li a {
  color: #000000;
  text-decoration: none;
  padding: 5px 0;
}


